.body{
    background-color:#ff9623;
}
.navbar .nav {
    overflow: visible;
  }
  .dropdown {
position: relative;
display: inline-block;
margin-right: 10%;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
padding: 12px 16px;
z-index: 1;
}

.dropdown:hover .dropdown-content {
display: block;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
}

table tr td:last-child {
  width: 120px;
}
.form-select {
  display: none;
}
.homecenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.homepage {
  margin-left: 25%;
}
.wrapperpx{
  width:600px;
  margin: 0 auto;
}